.footer {
  margin-top: 350px;
  text-align: center;
  background: whitesmoke;
  height: 140px;
  color: lightslategray;
  padding: 30px;
  margin-right: 30px;
  clear: both;
  border-top: 2px solid lightgoldenrodyellow;
  font-size: 12px;
}

.social-icons  p {
  margin-right: 100px;
}

FaGithub {
  margin-right: 30px; 
}
